<div data-sender-id="<%= message.user.id %>" class="<%= message.user == current_user ? 'chat-msg-mine' : 'chat-msg-yours' %>">
  <p><%= message.user.username %></p>
  <div id="message-<%= message.id %>" class="<%= message.user == current_user ? 'msg-mine' : 'msg-yours' %>">
    <p><%= message.content %></p>
  </div>
</div>
