<div id="message-<%= message.id %>" data-sender-id="<%= message.user.id %>" class="msg-mine">
      <%# <i><%= message.created_at.strftime("%a %b %e at %l:%M %p")</i> %>
  <p><%= message.content%><%= message.user.username%></p>
</div>
