<div class="container" data-controller="chatroom-subscription" data-chatroom-subscription-current-user-id-value="<%= current_user.id %>"
  data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>">
  <div class="icons-show" >
    <%= link_to root_path(dissapear: "true") do %>
      <i data-feather="arrow-left"></i>
    <% end %>
  </div>
  <div class="chatroom-messages-show card-chatroom">
    <div class="chatroom-header">
      <h2><%=@chatroom.name%> <%= @chatroom.book.title %></h2>
    </div>
    <div class="messages" data-chatroom-subscription-target="messages">
      <% @chatroom.messages.each do |message| %>
        <%= render "messages/message", message: message %>
      <% end %>
    </div>
    <div class="chatroom-messages-input">
      <%= simple_form_for [@chatroom, @message],
        remote: true,
        html: {data: {action: "ajax:success->chatroom-subscription#resetForm", chatroom_subscription_target: "form"}, class: "d-flex" } do |f|
        %>
      <%= f.input :content,
          label: false,
          placeholder: "Message in #{@chatroom.name}",
          wrapper_html: {class: "flex-grow-1"}
        %>
      <%= f.submit "Send", class: "chatroom-submit-button" %>
    <% end %>
  </div>
</div>
<script>
  var objDiv = document.querySelector('.messages')
  objDiv.scrollTop = objDiv.scrollHeight;
</script>
