<style>.show-modal{display: block;}</style>

<div class="container">
  <h1>Your dashboard </h1>


  <div>
    <h2> My library</h3>
    <ul>
      <% @user.books.each do |book| %>
        <li><%= book.title %> | <%= book.author %></li>
      <% end %>
    </ul>
  </div>

  <div>
    <h2> My profile</h2>
    <p><%= @user_full_name %></p>
    <p><%= @user.username %></p>
    <h3>My tags</h3>
    <ul>
      <% @user.tags.each do |tag| %>
      <li><%= tag %></li>
      <% end %>
    </ul>
  </div>
  <div>
    <h2>My booking</h2>
    <ul>
    <% @owner_bookings.each do |booking| %>
      <li><%= booking.book.title %> | <button type="button" class="" id="openModal-<%= booking.id %>">Request</button>

      </li>
      <%= booking.accepted %>


      <div class="modal" id="<%= booking.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel"><%= booking.user.first_name %>'s library</h5>
              <button type="button" class="btn-close" id="closeModal-<%= booking.id %>">
              </button>
            </div>

            <div class="modal-body">
              <label for="message-text" class="col-form-label">Choose a book to swap:</label>

              <% booking.user.books.each do |book| %>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                  <label class="form-check-label" for="flexRadioDefault1">
                          <%= book.title %> | <%= book.author %>
                  </label>
                </div>
              <% end %>
            </div>

            <div class="modal-footer">
              <button type="button" id="closeModal-<%= booking.id %>" class="btn btn-secondary">Close</button>
              <button type="button" class="btn btn-primary">Swap</button>
              <button type="button" class="btn btn-primary">I don't want to swap</button>
              <button type="button" class="btn btn-danger">Decline</button>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    </ul>
  </div>

      <%#= link_to "Request", accept_path(booking.book, booking), method: :patch %>

</div>

<script>
  const openButtons  = document.querySelectorAll(`[id^="openModal"]`)
  const closeButtons = document.querySelectorAll(`[id^="closeModal"]`)

  openButtons.forEach(btn => {
    btn.addEventListener('click', () => {
      let token  = btn.id.split('-')[1]
      let modal  = document.getElementById(token)
      console.log(btn)
      console.log(modal)

      modal.classList.add('show-modal')
    });
  });

  closeButtons.forEach(btn => {
    btn.addEventListener('click', () => {
      let token  = btn.id.split('-')[1]
      let modal  = document.getElementById(token)

      modal.classList.remove('show-modal')
    });
  });
</script>
