<style>.show-modal{display: block;}</style>

<div class="container">

  <h1> Your dashboard </h1>

  <h2 id="title-abril-font"> My library </h2>

  <div class="dashboard-container">
    <!-- Library's cards display -->
    <div id="inner-grid-library">
      <% @user.books.each do |book| %>
        <div class="card-product">
          <%= cl_image_tag(book.photo.key)%>
          <div class="card-product-infos">
            <h2><%= book.title %></h2>
            <p><%= book.author %></p>
            <p><%= book.year %></p>
            <div class="icons">
              <% if book.availability %>
                <i class="fa-solid fa-circle available" id="circle-<%= book.id %>"></i>
              <% else %>
                <i class="fa-solid fa-circle not-available" id="circle-<%= book.id %>"></i>
              <% end %>
              <%= link_to book_path(book),
                  method: :delete,
                  data: { confirm: "Are you sure?" } do %>
                    <i class="fa-solid fa-trash" id="trash"></i>
                  <% end %>
              <%= link_to edit_book_path(book) do %>
                <i class="fa-solid fa-pen-nib"></i>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <!-- User's informations tab -->
    <div class="sticky-one" style="text-align: center">
      <!-- Profile -->
      <div id="user-profile-card">
        <h2> My profile </h2>
        <%= image_tag "user-astronaut-solid.svg", class:"round-profile-picture" %>
        <h3> <%= @user_full_name %> </h3>
        <p> Username : <%= @user.username %> </p>
        <div id="tags-list" style="display: flex">
          <% @user.tags.each do |tag| %>
            <div class="tags">
              <%= tag %>
            </div>
          <% end %>
        </div>
      </div>

      <!-- Adding a new book -->
      <div class="text-bloc">
        <h2> Add a new book
          <%= link_to new_book_path, class:"icon-red" do %>
            <i class="fa-solid fa-circle-plus"></i>
          <% end %>
        </h2>
      </div>

      <div class="inline-string"></div>

      <!-- book's request action part -->
      <div class="text-bloc">
        <!-- When there's no pending request-->
        <h2> Pending book(s)</h2>
        <% if @pending_bookings.count < 1 %>
          <p> There is no pending request currently. </p>
        <% else %>
          <!-- When there's pending request-->
          <% @owner_bookings.each do |booking| %>
            <% if booking.accepted === nil %>
              <p id="request-text"><%= booking.book.title %> | From <%= booking.start_date.to_formatted_s(:short) %> to <%= booking.end_date.to_formatted_s(:short) %> <button type="button" class="button-very-small-secondary-red" id="openModal-<%= booking.id %>"> Request </button>
              </p>
            <% end %>
            <!-- Bootstrap window for the request -->
            <div class="modal" id="<%= booking.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><%= booking.user.first_name %>'s library</h5>
                    <button type="button" class="btn-close" id="closeModal-<%= booking.id %>">
                    </button>
                  </div>
                  <!-- Requestor's library -->
                  <div class="modal-body">
                    <label for="message-text" class="col-form-label"> Choose a book to swap: </label>
                    <% booking.user.books.each do |book| %>
                      <% if book.availability %>
                        <div class="form-check">
                          <strong><%= link_to book.title, book_path(book), class:"green-link" %></strong> | <%= book.author %> | <%= link_to "Swap", swap_path(book.id, booking_id: booking.id), method: :patch, class:"icon-red" %>
                        </div>
                      <% end %>
                    <% end %>
                  </div>
                  <!-- Buttons : close, accept, swap -->
                  <div class="modal-footer">
                    <button type="button" id="closeModal-<%= booking.id %>" class="btn-request-library button-secondary-small-green"> Close </button>
                    <%= link_to "Accept without swap", accept_path(booking.id), method: :patch, class:"btn-request-library button-primary-small-green link-white" %>
                    <%= link_to "Decline", cancel_path(booking), class: "btn-request-library button-primary-small-red" %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

      <div class="inline-string" style="margin-top: 21px;"></div>

      <!-- Books the user is currently booring-->
      <div class="text-bloc">
        <h2> Book(s) borrowed </h2>
        <% if @user.bookings.pluck(:book_id).empty? %>
          <p> You are not borrowing books currently. </p>
        <% else %>
          <% @user.bookings.where(accepted: true).each do |booking| %>
            <% Book.where(id: @user.bookings.pluck(:book_id)).each do |book| %>
              <p> <%= book.title %> | <%= book.author %> <br> Owner: <strong> <%= book.user.username %> </strong> </p>
            <% end %>
          <% end %>
        <% end %>
      </div>

      <div class="inline-string"></div>

      <!--Bookclubs part-->
      <div class="text-bloc">
        <h2> My bookclub(s) </h2>
        <% @user.chatrooms.where(bookclub: true).last(3).each do |chatroom| %>
          <p>
            <strong> <%= chatroom.book.title %>: </strong> <%= chatroom.name %>
            <%= link_to chatroom_path(chatroom), class:"icon-red" do %>
              <i class="fa-solid fa-arrow-right-long"></i>
            <% end %>
          </p>
        <% end %>
        <div class="text-bubble-personal-card">
          <%= link_to "All bookclubs", chatrooms_path %>
        </div>
      </div>

      <div class="inline-string"></div>

      <!-- Chatroom between users -->
      <div class="text-bloc">
        <h2> My chat(s) </h2>
        <% @user.chatrooms.where(bookclub: false).last(3).each do |chatroom| %>
          <p> <%= chatroom.book.title %>: <%= chatroom.name %> | <%= link_to "Go", chatroom_path(chatroom), class:"icon-red" %> </p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!--Javascript for the bootstrap requests opening window-->
<script>
  const openButtons  = document.querySelectorAll(`[id^="openModal"]`)
  const closeButtons = document.querySelectorAll(`[id^="closeModal"]`)

  openButtons.forEach(btn => {
    btn.addEventListener('click', () => {
      let token  = btn.id.split('-')[1]
      let modal  = document.getElementById(token)
      console.log(btn)
      console.log(modal)

      modal.classList.add('show-modal')
    });
  });

  closeButtons.forEach(btn => {
    btn.addEventListener('click', () => {
      let token  = btn.id.split('-')[1]
      let modal  = document.getElementById(token)

      modal.classList.remove('show-modal')
    });
  });
</script>
