<style>.show-modal{display: block;}</style>

<div class="container">
  <h1>Your dashboard </h1>


  <div>
    <h2> My library</h3>
    <ul>
      <% @user.books.each do |book| %>
        <li><%= book.title %> | <%= book.author %> | <%= link_to "Delete",
            book_path(book),
            method: :delete,
            data: { confirm: "Are you sure?" } %> | <%= link_to "Update", edit_book_path(book)%></li>
      <% end %>
    </ul>
  </div>

  <%= link_to"Add a book", new_book_path %>

  <div>
    <h2> My profile</h2>
    <p><%= @user_full_name %></p>
    <p><%= @user.username %></p>
    <h3>My tags</h3>
    <ul>
      <% @user.tags.each do |tag| %>
      <li><%= tag %></li>
      <% end %>
    </ul>
  </div>
  <div>
    <h2>My booking</h2>

    <ul>
    <% @owner_bookings.each do |booking| %>
    <% if !booking.accepted %>
        <p>Pending request(s) :</p>
      <li><%= booking.book.title %> | <button type="button" class="" id="openModal-<%= booking.id %>">Request</button>
      </li>
    <% end %>

    </ul>



      <div class="modal" id="<%= booking.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel"><%= booking.user.first_name %>'s library</h5>
              <button type="button" class="btn-close" id="closeModal-<%= booking.id %>">
              </button>
            </div>

            <div class="modal-body">
              <label for="message-text" class="col-form-label">Choose a book to swap:</label>

              <% booking.user.books.each do |book| %>
                <div class="form-check">
                  <%= book.title %> | <%= book.author %> | <%= link_to "Swap", swap_path(book.id, booking_id: booking.id), method: :patch %>
                </div>
              <% end %>
            </div>

            <div class="modal-footer">
              <button type="button" id="closeModal-<%= booking.id %>" class="btn btn-secondary">Close</button>
              <%= link_to "Accept", accept_path(booking.id), method: :patch %>
              <button type="button" class="btn btn-danger">Decline</button>
            </div>
          </div>
        </div>
      </div>
    <% end %>


    <% if @user.bookings.pluck(:book_id).empty? %>
      <p>You are not borrowing books currently</p>
    <% else %>
      <p>Book(s) you are currently borrowing :</p>
      <% Book.where(id: @user.bookings.pluck(:book_id)).each do |book| %>
      <li><%= book.title %> | <%= book.author %> | <%= book.user.username %></li>
      <% end %>
    <% end %>
  </div>

      <%#= link_to "Request", accept_path(booking.book, booking), method: :patch %>
  <h2>My bookclubs</h2>
  <ul>
  <% @user.chatrooms.where(bookclub: true).last(3).each do |chatroom| %>
    <li> <%= chatroom.book.title %>: <%= chatroom.name %> | <%= link_to "Go", chatroom_path(chatroom) %></li>
  <% end %>
  </ul>
  <%# individual chats  %>
  <h2>My chats</h2>
  <% @user.chatrooms.where(bookclub: false).last(3).each do |chatroom| %>
    <li> <%= chatroom.book.title %>: <%= chatroom.name %> | <%= link_to "Go", chatroom_path(chatroom) %></li>
  <% end %>
  <%= link_to "All chatrooms", chatrooms_path %>

</div>


<script>
  const openButtons  = document.querySelectorAll(`[id^="openModal"]`)
  const closeButtons = document.querySelectorAll(`[id^="closeModal"]`)

  openButtons.forEach(btn => {
    btn.addEventListener('click', () => {
      let token  = btn.id.split('-')[1]
      let modal  = document.getElementById(token)
      console.log(btn)
      console.log(modal)

      modal.classList.add('show-modal')
    });
  });

  closeButtons.forEach(btn => {
    btn.addEventListener('click', () => {
      let token  = btn.id.split('-')[1]
      let modal  = document.getElementById(token)

      modal.classList.remove('show-modal')
    });
  });



</script>
