<div class="cards">
  <!--If user has signed in-->
  <% if user_signed_in? %>
    <% @books.where(availability: true).where.not(user_id: current_user.id).each do |b| %>
      <%= link_to book_path(b) do %>
        <div class="card-product">
          <!--displaying book's info and picture-->
          <%= cl_image_tag(b.photo.key)%>
          <div class="card-product-infos">
            <% if b.title.length > 30 %>
              <h2> <%= b.title[0..30]... %> </h2>
            <% else %>
              <h2> <%= b.title %> </h2>
            <% end %>
            <p> <%= b.author %> </p>
            <p> <%= b.year %> </p>

            <!-- book's tags and geolocalisation-->
            <div class="card-price-km">
              <h3>
                <% b.tags.each do |tag| %>
                  <%= tag %>
                <% end %>
              </h3>
                <%= ((Geocoder::Calculations.distance_between([user.latitude, user.longitude], [b.user.latitude, b.user.longitude]))*(1.60934)).round%>km
            </div>

          </div>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <!-- If user has not signed in-->
    <% @books.where(availability: true).each do |b| %>
      <%= link_to book_path(b) do %>
        <div class="card-product">
          <!--displaying book's info and picture-->
          <%= cl_image_tag(b.photo.key)%>
          <div class="card-product-infos">
            <% if b.title.length > 30 %>
              <h2><%= b.title[0..30]... %></h2>
            <% else %>
              <h2><%= b.title %></h2>
            <% end %>
            <p><%= b.author %></p>
            <p><%= b.year %></p>

              <!-- book's tags (no geolocalisation where not signed in)-->
              <div class="card-price-km">
                <h3>
                  <% b.tags.each do |tag| %>
                    <%= tag %>
                  <% end %>
                </h3>
              </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
