<div class="cards">
  <% @books.where(availability: true).each do |b| %>
    <%= link_to book_path(b) do %>
      <div class="card-product">
        <%= cl_image_tag(b.photo.key)%>
        <div class="card-product-infos">
          <div>
            <h2><%= b.title %></h2>
            <p><%= b.author %></p>
            <p><%= b.year %></p>
          </div>
          <div class="card-price-km">
            <h3><% b.tags.each do |tag| %>
                  <%= tag %>
                <% end %>
            </h3>
            <% if user_signed_in? %>
              <%= ((Geocoder::Calculations.distance_between([user.latitude, user.longitude], [b.user.latitude, b.user.longitude]))*(1.60934)).round%>km
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
