  <div class="container pt-3">
  <h1>Books</h1>

 <%# Search bar %>
    <% @tags.each do |tag| %>
      <%= link_to tag, books_path(tag: tag) %>
    <% end %>


  <div data-controller="search-books">
        <%= form_tag books_path, method: :get, class:"d-flex p-2 w-25 m-auto", data: { search_books_target: 'form' } do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Find a book",
            data: { search_books_target: 'input', action: 'keyup->search-books#update', class: 'style-search-input' }
          %>
          <%= submit_tag "Search", class: "style-search-button" %>
        <% end %>

        <%# Displaying the books %>

    <div data-search-books-target="list">
     <%= render "books/list", books: @books %>
    </div>
  </div>
</div>
