<div class="container pt-3">
  <div class="icons-show">
    <%= link_to root_path(dissapear: "true") do %>
      <i data-feather="arrow-left"></i>
    <% end %>
  </div>
  <div class="bg-container-show">
    <!--book's info-->
    <div class="header-container-show">
      <h1><%= @book.title %></h1>
      <p> Owner: <%= @book.user.username %></p>
    </div>
    <div class="container-show">
      <div class="show-column-1">
        <div class="author-show">
          <h2><%= @book.author %></h2>
        </div>
        <div class="book-show-desc">
          <p> <%= @book.description %> </p>
          <div class="button-show">
            <!--booking button-->
            <% if user_signed_in? %>
              <button class="button-secondary" style="">
                <%= link_to "Borrow Book", new_book_booking_path(@book) %>
              </button>
            <% else %>
            <!--redirect to signed in form if not signed in-->
              <%= link_to "Borrow Book", new_user_session_path, class: "button-secondary", book: @book %>
            <% end %>
          </div>
        </div>
      </div>
      <!--book's picutre-->
      <div class="container-show-img show-column-2">
        <%= cl_image_tag @book.photo.key, height: 528, crop: "fill" %>
      </div>
      <div class="show-column-3">
        <!--Display booksclub related to the current book-->
        <h2> Bookclubs </h2>
        <div class="bookclub-show">
          <% @book.chatroom.where(bookclub: true).last(3).each do |chatroom| %>
            <div class="bookclub-show-link">
              <% if user_signed_in? %>
                <%= link_to chatroom_path(chatroom), id: "chatroomTitle-#{chatroom.id}" do %>
                  <%= @book.title %> : <%= chatroom.name %>
                <% end %>
              <% else %>
                <%= link_to new_user_session_path, book: @book, id: "chatroomTitle-#{chatroom.id}" do %>
                  <%= @book.title %> : <%= chatroom.name %>
                <% end %>
              <% end %>
              <% if user_signed_in? %>
                <%= link_to "Join", chatroom_path(chatroom), id: "chatJoinButton-#{chatroom.id}", class: "d-none" %>
              <% else %>
                <%= link_to "Join", new_user_session_path, id: "chatJoinButton-#{chatroom.id}", class: "d-none" %>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="icons-show">
          <%= link_to "More Bookclubs", chatrooms_path %>
          <%= link_to chatrooms_path do %>
            <i data-feather="arrow-right"></i>
          <% end %>
        </div>
        <!--Mapbox, user's position-->
        <div class="mapbox">
          <div style="width: 100%; height: 200px;"
              data-controller="mapbox"
              data-mapbox-zoom-value="0"
              data-mapbox-markers-value="<%= @markers.to_json %>"
              data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="divider"></div>
  <!--Recommendations book part-->
  <h2>You might also like</h2>
  <div class="results-container">
    <!--If user is signed in-->
    <% if user_signed_in? %>
      <div class="cards-rec">
        <% @books_tag.where(availability: true).where.not(user_id: current_user.id).sample(3).each do |b| %>
          <% if b.title != @book.title %>
            <%= link_to book_path(b) do %>
              <!-- Books cards--->
              <div class="card-product-rec">
                <%= image_tag b.picture %>
                <div class="card-product-infos-rec">
                  <!-- Book's info--->
                  <% if b.title.length > 30 %>
                    <%= b.title[0..30]... %>
                  <% else %>
                    <%= b.title %>
                  <% end %>
                  <p> <%= b.author %> </p>
                  <p> <%= b.year %> </p>
                  <div class="card-price-km-rec">
                    <!-- Book's tags and geolocalisation distance--->
                    <h3>
                      <% b.tags.each do |tag| %>
                        <%= tag %>
                      <% end %>
                    </h3>
                      <%= ((Geocoder::Calculations.distance_between([current_user.latitude, current_user.longitude], [b.user.latitude, b.user.longitude]))*(1.60934)).round%>km
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <!--If user is not signed in-->
      <div class="cards-rec">
        <% @books_tag.where(availability: true).first(3).each do |b| %>
          <% if b.title != @book.title %>
            <%= link_to book_path(b) do %>
              <!-- Books cards--->
              <div class="card-product-rec">
                <%= image_tag b.picture %>
                <div class="card-product-infos-rec">
                  <!-- Book's info--->
                  <% if b.title.length > 30 %>
                    <%= b.title[0..30]... %>
                  <% else %>
                    <%= b.title %>
                  <% end %>
                  <p> <%= b.author %> </p>
                  <p> <%= b.year %> </p>
                  <div class="card-price-km-rec">
                    <!-- Book's tags (no geolocalisation distance when use is not signed in)--->
                    <h3>
                      <% b.tags.each do |tag| %>
                          <%= tag %>
                      <% end %>
                    </h3>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
