<div class="container pt-3">
  <div class="arrow-left-show">
    <%= link_to books_path do %>
      <i data-feather="arrow-left"></i>
    <% end %>
  </div>
  <div class="bg-container-show">
    <div class="header-container-show">
      <h1><%= @book.title %></h1>
      <p>Owner: <%= @book.user.username %></p>
    </div>
    <div class="container-show">
      <div class="show-column-1">
        <div class="author-show">
          <h2><%= @book.author %></h2>
        </div>
        <div class="book-show-desc">
          <p><%= @book.description %></p>
            <div class="button-show">
              <button class="button-secondary" style="">
                <a href="">Borrow book</a>
              </button>
            </div>
        </div>
      </div>
      <div class="container-show-img show-column-2" style="background-image: url('<%= cl_image_path @book.photo.key, crop: :fill %>')">
      </div>
      <div class="show-column-3">
        <div>
        <h2>Bookclubs</h2>
          <div class="bookclub-show">
            <% @book.chatroom.last(3).each do |chatroom| %>
            <div>
              <%= @book.title %> : <%= chatroom.name %>
            </div>
            <% end %>
          </div>
          <%= link_to "More Bookclubs", chatrooms_path, id: 'txt-bookc' %>
        </div>
        <div class="mapbox">
          <div style="width: 100%; height: 150px;"
              data-controller="mapbox"
              data-mapbox-markers-value="<%= @markers.to_json %>"
              data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="divider"></div>
  <div>
    <h2>Based on your tags, you might also like</h2>
    <%# <ul>
      <% @books_tag.first(3).each do |book| %>
      <%# <li><%= book.title %></li>
      <%# <% end %>
    <%# </ul> %>
    <div class="results-container"></div>
    <div class="cards-rec">
      <% @books_tag.first(3).each do |b| %>
        <%= link_to book_path(b) do %>
          <div class="card-product-rec">
            <%= image_tag b.picture %>
            <div class="card-product-infos-rec">
              <div>
                <h2><%= b.title %></h2>
                <p><%= b.author %></p>
                <p><%= b.year %></p>
              </div>
              <div class="card-price-km-rec">
                <h3><% b.tags.each do |tag| %>
                      <%= tag %>
                    <% end %>
                </h3>
                <h3>1.3 km</h3>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  </div>
</div>
