 <div class="container pt-3">
  <h1><%= @book.title %></h1>
  <h2><%= @book.author %></h2>
  <h4><%= @book.title %></h4>
<%= image_tag(@book.picture) %>
<p><%= @book.description %></p>
<p>Owner: <%= @book.user.username %></p>

<h1>Bookclubs</h1>
<ul>
  <% @book.chatroom.last(3).each do |chatroom| %>

    <li><%= @book.title %> : <%= chatroom.name %></li>
  <% end %>
</ul>

<%= link_to "More Bookclubs", chatrooms_path %>

<h1>You may also like</h1>
