<!DOCTYPE html>
<html>
  <head>
    <title>BookBuddy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/88fc0ca0f6.js" crossorigin="anonymous"></script>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <% if !current_page?(root_path) %>
     <%= render 'shared/navbar', navbar_class: '' %>
    <% end %>

    <%= render 'shared/flashes' %>
    <div style="min-height: calc(100vh - 185px)">
      <%= yield %>
    </div>
    <% if !current_page?(root_path) %>
      <%= render 'shared/footer' %>
    <% end %>

    <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>
    <script>feather.replace()</script>
  </body>
</html>
